.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0px 30px 0px 30px;
    height: fit-content;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e90052; 
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .auth .login-btn {
    background-color: #111072;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .auth .login-btn:hover {
    background-color: #104176; 
    transition: 0.3s ease-in-out
  }
  